

PORT=YOUR PORT
APP_URL=http://localhost:5000/
BCRYPT_SALT_ROUNDS=YOUR SALT ROUNDS
JWT_REFRESH_EXPIRES_IN=7d
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_SECRET=refresh-secret
JWT_ACCESS_SECRET=access-secret

DATABASE_URL=YOUR DB URL


STRIPE_PRODUCT_PRICE_ID=YOUR STRIPE PRODUCT ID

STRIPE_SECRET_KEY=YOUR STRIPE SECRET KEY